  
{% extends "base.html" %}
{% block title %}shorten URL{% endblock %}

{% block content %}

<form class="UrlBlock" action="#", method="post">
    {% csrf_token %}
    <h2 for="url" class="col-md-12 offset-md-1">Enter an https:// URL</h2>

    <input type="url" name="nm" id="url"
       placeholder="https://example.com"
       pattern="https://.*" size="50"
       required>

    <h2 class="col-md-8 offset-md-2">Enter a custom short</h2>



    <input name="user_short" id="url"
       placeholder="5 letters"
       minlength="5"
       maxlength="5"
       class = "col-md-8 offset-md-2">

    {% if messages %}

    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>

    {% endif %}

    <br>
    <br>
    <input type="submit" value="submit" class="btn btn-primary col-md-8 offset-md-2">
</form>
{% endblock %}